@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root{

--maintext-color:#212121;
--secondtext-color:#FFFFFF;
--thirdtext-color:#757575;
--second-bg-color:#2F303A;

}



body{
    
    font-family: "Roboto", sans serif;
    font-style: normal;
    font-size: 14px;
    color: var(--maintext-color)

}

ul{list-style: none;}


/* Header */




    .header-logo, .footer-logo {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:#2196F3;
        text-decoration: none;
       
       
    }



 /* Header-Nav */ 

 .header-nav{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--maintext-color)
     }


          
.header-nav:hover,
.header-nav:focus {
    color: #2196F3;}


        
.active{
    color: #2196F3;}

        

.header-nav:active {
            color: orange;
        }

       
            
            


   /* Header contact*/
   
  

     .header-contact {
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
     text-decoration: none;
     color: var(--thirdtext-color)

            
     }

     .header-contact:hover,
     .header-contact:focus{
        color: #2196F3;
       
}
       
   .header-contact:active {
    color: orange;}         




 
/*hero section*/

.hero-section{ 
    background-color:var(--second-bg-color);
    
}



.hero-title { 
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondtext-color);   
      }


    /* button */ 
    
   

.hero-button {
   font-family: Roboto;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
   color: var(--secondtext-color);   
   background-color: #2196F3;
}
     .hero-button:hover,
     .hero-button:focus{ 
    color: var(--secondtext-color);   
    background-color: orange;
    }
    
    .hero-button:active {
     color: yellow;}
    

/* Our features*/

.features-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.features-item-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

}

.features-item-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--thirdtext-color);
}


/* What we do*/

.what-we-do-title{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

/* Our Team */


.our-team-section { 
      background-color: #F5F4FA; 
   
   }

.out-team-title{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   }

.our-team-member {
    font-size: 16px; 
    line-height: 1.19;
    font-weight: 500;
    text-align: center;
   
    
}


.our-team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}





/*Footer*/



.footer { 
      background-color:var(--second-bg-color);
      
   
 }

 .address{
    display: block;
    font-style: normal;}

 .footer-address {
   
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--secondtext-color);
    
 }

   .footer-address:hover,
   .footer-address:focus{ 
   color: #2196F3;
   }
   
   .footer-address :active {
    color: yellow;}


 .footer-link {
   font-weight: 400;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color:#FFFFFF99;
   text-decoration: none;
    
    }

    .footer-link:hover,
    .footer-link:focus{ 
   color: #2196F3;
   }
   
   .footer-link:active {
    color: yellow;}


 
   
    
  

     /* Portfolio*/


    .project-hero-button{
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        display: flex;
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;
          
        
     }
         .project-hero-button:hover,
         .project-hero-button:focus{ 
         color: var(--secondtext-color);   
         background-color: #2196F3;
         }
         
         .project-hero-button:active {
          color: yellow;}



    

     .project-name{ 
     font-weight: 700;
     font-size: 18px;
     line-height: 2.00;
     letter-spacing: 0.06em;
     
    }
    
    .project-type{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;      
        letter-spacing: 0.03em;
        color:var(--thirdtext-color)
    
   
    }


    .portfolio-address{
        display: block;
        font-style: normal;}



    .portfolio-footer { 
        background-color:var(--second-bg-color);
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 1628px;}

        .portfolio-footer-address {
   
            font-weight: 400;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--secondtext-color);
            text-decoration: none;
         }
        
         
        
         .portfolio-footer-address:hover,
         .portfolio-footer-address:focus{ 
          color: #2196F3;
           }
           
           .portfolio-footer-address :active {
            color: yellow;}
        
        
         .portfolio-footer-link {
           font-weight: 400;
           line-height: 1.71;
           letter-spacing: 0.03em;
           color:#FFFFFF99;
           text-decoration: none;
            
            }
        
            .portfolio-footer-link:hover,
            .portfolio-footer-link:focus{ 
           color: #2196F3;
           }
           
           .portfolio-footer-link:active {
            color: yellow;}
        