@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root{

--maintext-color:#212121;
--secondtext-color:#FFFFFF;
--thirdtext-color:#757575;
--second-bg-color:#2F303A;

}


body{
    
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    list-style: none;
    color: var(--maintext-color)

}

    .header-logo, .footer-logo {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:#2196F3;
        text-decoration: none;
       
       
    }



 /* Header-Nav */ 

 .header-nav{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--maintext-color)
     }


          
.header-nav:hover,
.header-nav:focus {
    color: var(--secondtext-color);   
    background-color: #2196F3;}


        
.active{
    color:var(--secondtext-color);   
    background-color: #2196F3;}

        

.header-nav:active {
            color: orange;
        }

       
            
            


   /* Header contact*/
     
     .header-contact {
     font-weight: 500;
     line-height: 1.14;
     letter-spacing: 0.02em;
     text-decoration: none;
     color: var(--thirdtext-color)

            
     }

     .header-contact:hover,
     .header-contact:focus{
        color: #2196F3;
       
}
       
.header-contact:active {
    color: orange;}         




 
/*hero section*/

.hero-section{ 
    background-color:var(--second-bg-color);
    
}



.hero-title { 
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondtext-color);   
      }


    /* button */ 
    
   

.hero-button {
   font-family: "Roboto"; 
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
   color: var(--secondtext-color);   
   background-color: #2196F3;
}
     .hero-button:hover,
     .hero-button:focus{ 
    color: var(--secondtext-color);   
    background-color: orange;
    }
    
    .hero-button:active {
     color: var(--maintext-color);}
    



/* Our Team */


.our-team-section { 
   background-color: #F5F4FA; 
   }

.our-team-memeber {
    font-size: 16px; 
    line-height: 1.19;
    font-weight: 500;
    text-align: center;
   
    
}


.our-team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;}





/*Footer*/


.footer { 
   background-color:var(--second-bg-color);
   width: 1600px;
   height: 252px;
   left: 0px;
   top: 2097px;
   
 }

 .footer-address {
    font-style: normal;
   font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondtext-color);
    text-decoration: none;
 }

 .footer-link {
    font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color:#FFFFFF99;
   text-decoration: none;
    
    }


address ul li a:hover,
address ul li a:focus {
        color: #2196F3;
       
}
      
address ul li a:active {
    color: orange;}

h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        
          
    }
        
    h3 {
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        
    }
      
    p {
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--thirdtext-color)
     }   

     ul {list-style: none;}

     /* Portfolio*/


    .project-hero-button{
        font-family: "Roboto"; 
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        display: flex;
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;
        color: var(--maintext-color);   
        background-color: ;
     }
         .project-hero-button:hover,
         .project-hero-button:focus{ 
         color: var(--secondtext-color);   
         background-color: #2196F3;
         }
         
         .project-hero-button:active {
          color: var(--maintext-color);}



    

     .project-name{ 
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    
    .project-type{
        font-size: 16;
        line-height: 1.88;
    
    }

    .portfolio-footer { 
        background-color:var(--second-bg-color);
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 1628px;}